<section>
  <h1><%= data.metadata.title %></h1>
  <h3><%= data.metadata.subtitle %></h3>
  <p>
  <small><%= data.metadata.date %>&nbsp;&ndash;&nbsp;<%- if data.metadata.homepage -%>
      <a href="<%= data.metadata.homepage %>"><%= data.metadata.speaker %></a>
    <%- else -%>
      <%= data.metadata.speaker %>
    <%- end -%>
  </small>
  </p>
</section>
