<section class="start_slide">
  <div class="headline">
    <h1><%= data.metadata.title %></h1>
    <h2><%= data.metadata.subtitle %></h2>

    <p class="speaker">
    <small><%= data.metadata.date %>&nbsp;&ndash;&nbsp;
    <%= data.metadata.speaker -%>
<%- if data.metadata.company -%>
    (<%= data.metadata.company %>)
<%- end -%>
    </small>
    </p>
    <p class="license">
<%- if data.metadata.license -%>
      <%= data.metadata.license %>
<%- end -%>
    </p>
  </div>

</section>
