<section>
  <h1><%= data.metadata.title %></h1>
  <h3><%= data.metadata.subtitle %></h3>
  <p>
  <small><%= data.metadata.subtitle %> &ndash; <a href="<%= data.metadata.homepage %>"><%= data.metadata.author %></small>
  </p>
</section>
