<section>
  <a href="<%= image_path %>" data-lightbox="<%= image_gallery_id %>">
    <img src="<%= image_path %>"<% if title %> alt="<%= title %>"<% end %> class="mp-preview-image">
  </a>
</section>
<section>
  <a href="<%= image_path %>" data-lightbox="<%= image_gallery_id %>">
    <img src="<%= image_path %>"<% if title %> alt="<%= title %>"<% end %> class="mp-full-image">
  </a>
</section>
